.App {
  text-align: center;
  background-color: #CCE8EA;
}

body {
  background-color: #CCE8EA;
}

h2 {
  color: white;
  font-family: "Indie Flower";
  font-size: 4rem;
}

.conversations-list {
  border-style: solid;
  border-width: 5px;
  width: 50%;
  display: inline-block;
}

.title{
  font-family: "Fredericka the Great";
}

li {
  list-style: none;
  /* font-family: "Roboto"; */
}

.link-hover {
  /* font-family: "Indie Flower"; */
}

.link-hover:hover {
  color: #D619DF;
  text-decoration: underline;
}

ul {
  padding: 0;
}
